@import "tailwindcss";

@theme {
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-50%) }
  }
}

@layer utilities {
  .zoom-in-95 {
    transform: scale(0.95);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
  }

  .animate-marquee {
    animation: none !important;
  }
}